.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__greeting {
  margin-top: 200px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .home__greeting {
    margin-top: 100px;
  }
}

.home__greeting--header {
  font-family: "Raleway", sans-serif;
  color: #fff;
  padding: 5px;
}
.home__greeting h1 {
  font-size: 2rem;
}
.home__greeting h2 {
}
.home__greeting h3 {
}

.home__greeting p {
  color: #8d8d8d;
}

.Typewriter__cursor {
  color: #08fdd8;
  font-weight: lighter;
  font-size: 1em;
}
