.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__greeting {
  margin-top: 2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .home__greeting {
    margin-top: 100px;
  }
}

.home__greeting h1 {
  font-size: 2rem;
}

.Typewriter__cursor {
  color: #08fdd8;
  font-weight: lighter;
  font-size: 1em;
}
