.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #181818;
  height: 2.5rem;
  z-index: 99;
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 12.5s
    both;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 12.5s both;
  overflow-y: hidden;
}

.nav__item {
  margin: 10%;
  color: #909096;
}

.nav__item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.712);
  border-bottom: solid #08fdd8 2px;
}

.nav__item--icon {
  margin-top: 12px;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
