.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 10vh;
}

.projects__break {
  color: #fff;
  margin-top: 30px;
}

.projects h1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-family: "Dongle", sans-serif;
  color: #08fdd8;
  font-weight: 900px;
  padding: 5px;
  font-size: 3rem;
}

.projects h2 {
  font-family: "Dongle", sans-serif;
  padding-bottom: 0.1rem;
  margin-bottom: 30px;

  color: #fff;
  font-size: 1.3rem;
}

.projects p {
  font-family: "Dongle", sans-serif;
  padding-bottom: 0.1rem;
  /* font-family: "Raleway", sans-serif; */
  color: #fff;
  font-size: 1.3rem;
}
